@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .glass {
    @apply bg-blue-950/10 backdrop-blur-xl border border-cyan-500/10 shadow-lg;
  }

  .text-glow {
    text-shadow: 0 0 20px rgba(6, 182, 212, 0.5);
  }
}